{% extends 'CRM/base.html' %}

{% block title %}Sign Up{% endblock title %}

{% block content %}
<div class="container">
  <div class="content">
    <h2 class="text-center">Sign up</h2>
    <form action="signup/" method="post" class="text-center">
      {% csrf_token %}
      {% for field in form %}
      <p>
        {{ field.label_tag }}<br>
        {{ field }}<br>
        {% if field.help_text %}
        <small style="color: grey">{{ field.help_text | safe }}</small>
        {% endif %}
        {% for error in field.errors %}
      <p style="color: red" class="text-center">{{ error | safe }}</p>
      {% endfor %}
      </p>
      {% endfor %}
      <button type="submit" class="btn btn-primary">Sign up</button>
    </form>
  </div>
</div>
{% endblock %}
