{% extends "CRM/base.html" %}

{% block title %}
Index
{% endblock %}

{% block content %}

{% include 'CRM/utils/general-modal.html' %}
<header>
    <div
            class="fill"
            style="background-image:url('https://cdnb.artstation.com/p/assets/images/images/007/497/593/large/stephane-wootha-richard-talk-to-me-stephane-wootha-richard-cc-by-sa.jpg?1506536079');">
        <div class="header-overlay-background">
            <div class="d-flex justify-content-center">
                <div class="jumbotron cut-corners m-2 mt-5">
                    <div class="container">
                            <h3 class="display-3 text-center">
                                Welcome to Idego CRM!
                            </h3>
                        <p class="lead text-center mt-4 mb-1">
                            Powerful application for managing companies.
                        </p>


                        {% if not request.user.is_authenticated %}


                        <div class="row d-flex justify-content-center mt-4">
                            <button
                                    class="btn btn-primary showGeneralModal"
                                    data-toggle="modal"
                                    data-target="#generalModal"
                                    data-form="{% url 'login'  %}"
                                    title="login">
                                Log in
                            </button>
                            <div class="p-2 ml-2 mr-2">or</div>
                            <button
                                    class="btn btn-primary showGeneralModal"
                                    data-toggle="modal"
                                    data-target="#generalModal"
                                    data-form="{% url 'signup'  %}"
                                    title="signup"
                            >
                                Sign Up
                            </button>
                        </div>
                    </div>
                </div>
            </div>
</header>

{% endif %}

{% endblock %}
