{% extends "CRM/base.html" %}
{% load static %}

{% block title %}
Users
{% endblock %}

{% block content %}
{% include 'CRM/utils/general-modal.html' %}


<div class="container mt-4">
    <div class="row mb-2 justify-content-center">
        <h3>Users</h3>
    </div>
<div>
    {% for user in object_list %}
    <div class="card col-md-3 mt-4 ml-4 mr-4 cut-corners">
        <div class="card-body mt-3 mb-3">

            <h4 class="card-title">{{ user.username }}</h4>

            <h6 class="card-subtitle mt-2 mb-2 text-muted">ID: {{ user.id }}</h6>

            <p><b>Date joined</b>: {{ user.date_joined }}</p>

            {% if user.email %}
            <p><b>Email</b>: {{ user.email }}</p>
            {% endif %}

            {% if user.first_name and user.last_name %}
            <p>Name: {{ user.first_name }} {{ user.last_name }}</p>
            {% endif %}

            <p><b>Last seen</b>: {{ user.last_login }}</p>
            <p>
                <b>Is user active</b>:
                {% if user.is_active %}
                <i class="fa fa-check-circle check-circle green" aria-hidden="true"></i>
                {% else %}
                <i class="fa fa-times-circle check-circle red" aria-hidden="true"></i>

                {% endif %}
            </p>
            <p>
                <b>Is user staff member</b>:
                {% if user.is_staff %}
                <i class="fa fa-check-circle check-circle green ml-2" aria-hidden="true"></i>
                {% else %}
                <i class="fa fa-times-circle check-circle red ml-2" aria-hidden="true"></i>
                {% endif %}
            </p>
        </div>
    </div>
    {% endfor %}
</div>
</div>

{% endblock %}