{% extends "CRM/base.html" %}
{% load static %}

{% block title %}
Users
{% endblock %}

{% block content %}
{% include 'CRM/general-modal.html' %}


<div class="col-md-12">

    <div>
        <div class="row mb-2">
            <div class="col-md-6 mr-auto text-md-left text-center">
                <h3 class="panel-title">Users</h3>
            </div>
        </div>
    </div>
    <table class="table table-striped table-responsive-md">
        <thead class="thead-dark">
        <tr>
            <th>id</th>
            <th>Username</th>
            <th>Joined</th>
            <th>Email</th>
            <th>Name</th>
            <th>Last login</th>
            <th>Active</th>
            <th>Staff</th>
            {% if request.user.is_staff %}
            <th class="text-center"><em class="fa fa-cog"></em></th>
            {% endif %}
        </tr>
        </thead>
        <tbody>
        {% for user in object_list %}
        <tr>
            <td> {{ user.id }}</td>
            <td> {{ user.username }}</td>
            <td> {{ user.date_joined }}</td>
            <td> {{ user.email }}</td>
            <td> {{ user.first_name }} {{ user.last_name }}</td>
            <td> {{ user.last_login }}</td>
            <td class="text-center">
                {% if user.is_active %}
                <i class="fa fa-check-circle check-circle green" aria-hidden="true"></i>
                {% else %}
                <i class="fa fa-times-circle check-circle red" aria-hidden="true"></i>

                {% endif %}
            </td>
            <td class="text-center">
                {% if user.is_staff %}
                <i class="fa fa-check-circle check-circle green" aria-hidden="true"></i>
                {% else %}
                <i class="fa fa-times-circle check-circle red" aria-hidden="true"></i>
                {% endif %}
            </td>
            {% if request.user.is_staff %}
            <td class="text-center">
                <a class="btn btn-info showGeneralModal"
                   data-toggle="modal"
                   data-target="#generalModal"
                   data-form="{% url 'edit_user' user.id %}"
                   title="edit"

                >
                    <em class="fa fa-pencil"></em>
                </a>
            </td>
            {% endif %}

        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>


{% endblock %}